<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Meu Layout</h1>
    <p>Este é um parágrafo de exemplo <br> com line break.</p>
    <p style="color: red;">Este é um parágrafo vermelho.</p>
    <p>Parágrafo com <strong>texto em negrito</strong>.</p>
    <p title="Título do parágrafo">Parágrafo com título</p>
    <a href="https://www.w3schools.com/html/html_attributes.asp">Link para W3Schools</a>

    <p>Parágrafo com citação: <q>Esta é uma citação em linha.</q></p>
    <p>Parágrafo com citação em bloco:</p>
    <blockquote>
        Esta é uma citação em bloco.
    </blockquote>
    <p>parágrafo com abreviação: <abbr title="World Wide Fund for Nature">WWF</abbr></p>

    <address>
Written by John Doe.<br>
Visit us at:<br>
Example.com<br>
Box 564, Disneyland<br>
USA
</address>
</body>
</html>